@import "~ngx-toastr/toastr.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@ng-select/ng-select/themes/default.theme.css";


:host ::ng-deep {
    ng-select.ng-invalid.ng-touched .ng-select-container {
        border-color: #dc3545;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
    }

    .ng-select.custom ::ng-deep .ng-select-container  {            
        min-height: 0px;
        border-radius: 0;
    }
    .ng-select.custom {
        border:0px;
        min-height: 0px;
        border-radius: 0;
    }
    .ng-select.custom .ng-select-container  {            
        min-height: 0px;
        border-radius: 0;
    }
    ng-select div.ng-input input,
    .ag-header-cell:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
    .title-list-file {
      div:focus,
      a:focus {
        outline: none !important;
        border: 1px solid #007eff !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08),
        0 0 0 3px rgba(0, 126, 255, 0.1);
      }
    }

    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
        top: auto !important;
    }

    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
    background: #E6E8F0 !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #101840;
    span{
        border-color: #E6E8F0 !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        &:hover{
        background: #E6E8F0 !important;
        }
    }
    }


    .action-subject-dialog-custom {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 100%;
        margin: 0;
      
        .modal-content {
          width: 40%;
          //height: 600px;
          height: auto;
          max-height:100%;
          align-self: center;
        }
      }
      
      .action-history-package-contact {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 100%;
        margin: 0;
      
        .modal-content {
          width: 900px;
          //width: 760px;
          height: 628px;
          //height: 600px;
          height: auto;
          align-self: center;
        }
      
      }
      @media screen and (max-width:767px) {
        .action-history-package-contact {
          max-width: 90%;
          max-height: 90%;
          margin: auto;
          top: 50%;
          transform: translateY(-50%) !important;
            .modal-content {
              height: max-content;
              overflow: auto;
              max-height: 100%;
            }
        }
      }
      
      
      
      .list-subject-exam {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 100%;
        margin: 0;
        .modal-content {
          width: 800px;
          height: 570px;
          align-self: center;
        }
      }
      
      .action-contact-dialog-custom {
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 100%;
        margin: 0;
      
        .modal-content {
          width: 418px;
          //height: 600px;
          height: auto;
          align-self: center;
        }
      
        :host ::ng-deep {
          .ng-select .ng-arrow-wrapper {
            background: #f4f6fa;
            border-radius: 4px;
            margin-right: 5px;
            padding: 3px;
          }
          .ant-picker .ant-picker-disabled{
            background: #f4f6fa !important;
            cursor: none !important;
            .ant-input-disabled{
              color: #333 !important;
            }
          }
          //.ag-body-viewport {
          //  // Use momentum-based scrolling on WebKit-based touch devices.
          //  -webkit-overflow-scrolling: touch !important;
          //}
        }
      }

}